// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

.align-start
  -webkit-box-align: start !important
  -ms-flex-align: start !important
  align-items: flex-start !important